/*Nuestros colores de Aparkt*/
:root {
  --color-azulOscuro: #005A60 ;
  --color-verde: #34AF72; 
  --color-verdeAmarillo: #B5FFC2;
  --color-naranja: #D99E73;
}


*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: 1px solid red; 
}

/* HEADER */
header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-naranja);
}

/* logo */
header img {
    display: block;
    height: 60px;
}


/*navegacion header IZQUIERDA*/
.navIzquierda ul {
    display: flex;
    gap: 15px;
    list-style: none;
}


.navIzquierda a {
    text-decoration: none;
    font-weight: 400;
    color: black;
}

/*navegación header DERECHA*/
.navDerecha ul {
    display: flex;
    gap: 10px;
    list-style: none; 
}

.navDerecha a {
    text-decoration: none;
    font-weight: 400;
    color: black;
}

/* botones */
#botonesDerecha {
    display: flex;
    border: #005A60;
}



/* FOOTER */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--color-verdeAmarillo);
    padding: 20px 20px;
}

/* COLUMNAS (logo, pago, redes) */
footer > div,
.sectionRedes,
.sectionPago {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    text-align: center;
    flex: 1; 
}

/* logo */
footer img {
    display: block;
    height: 80px;
    max-width: 100%;
    object-fit: contain;
}

/* textos */
footer p {
    font-size: 14px;
}


/* copyright */
footer > p {          
    text-align: center;   
    font-size: 12px;
    padding-top: 10px;
    width: 100%;
}


/*isotipo del main para q visualicemos*/
main img{
    height: 300px;
}