main {
  display: flex;
  justify-content: space-around;

  .main-izquierdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    img {
      height: 150px;
      width: 150px;
    }

    fieldset {
      display: flex;
      flex-direction: column;
      border: none;
    }
  }

}